<ion-view>
  <ion-nav-title>
      <img class="title-image titreHome" src="img/title.png">
      <img class="title-image logoHome" src="img/logo.png">
  </ion-nav-title>
  <ion-content scroll='false' data-tap-disabled='true'>
  	<leaflet width='100%' height='85%'
           defaults='mapCtrl.defaults'
           center='mapCtrl.center'
           markers='mapCtrl.markers'>
  	</leaflet>
    <div id="boutonNewIssue">
      <button class="button buttonLog" ui-sref="app.newIssue" type="button">New Issue</button>
    </div>
  </ion-content>
</ion-view>
