<ion-view view-title="Issue Details">
  <ion-content>
    <div ng-controller="issueCtrl">


    <div class="row list">
        <div class="col col-75" style="background-color: #0d0743;"><h4 style="color:white;">{{issue.issueType.name}}</h4></div>
        <div class="col" style="background-color: green;"><h4 style="color:white;">{{issue.state}}</h4></div>
      </div>

      <div class=" ">
        <div class="" style=""><img width="100%" src="{{issue.imageUrl}}" alt="Smiley face"></div>
      </div>

      <div ng-controller="OneIssueMapController">

        <div class=" ">
          <div class="" style="background-color: blue; height: 200px;"><leaflet defaults="mapDefaults" center="mapCenter" markers="mapMarkers" height="100%" data-tap-disabled="true"></leaflet></div>
        </div>
      </div>

      <div class="row list">
        <div class="col col-90" style="background-color: #0d0743;"><p style="color:white;">{{issue.description}}</p></div>
        <a class="button button-icon icon ion-plus-circled positive"></a>

      </div>
      <div class="row list">
        <div class="col col-90" style="background-color: #0d0743;"><h5 style="color:white;"><p  ng-repeat="tag in issue.tags" style="display: inline">{{tag}} </p> </h5></div>
        <a class="button button-icon icon ion-plus-circled positive"></a>
      </div>
    </div>
  </ion-content>
</ion-view>
