<ion-view view-title="Issue Details">
  <ion-content>
    <!--<div ng-controller="allIssuesCtrl">-->
      <div class=" list card contouring">
        <div class="item item-title itemDetails">
          <h2>{{issue.issueType.name}}</h2>
          <p>{{issue.state}}</p>
        </div>

        <div class="item item-body">
          <img class="imageDetails" src="{{issue.imageUrl}}" alt="Image du degat">
          <p>{{issue.description}}</p>

          <div class="labelDetails">
            <label class="item item-input">
                  <input type="text" placeholder="Write your comment" ng-model="comment.text">
            </label>
          </div>
          <div class="buttonDetails">
            <a class="button button-medium" ng-click="postComments()"> Post </a>
          </div>

          <p class="orange">
            <a class="subdued" ng-click="seeComments()">See Comments</a>
          </p>
          <div ng-repeat="comment in comments" class="list">
            <div class=" oneComment row">
              <div class="authorDetails">{{comment.author.name}}</div>
              <div class="commentDetails"> {{comment.text}}</div>
            </div>
          </div>
        </div>

    </div>
    <div class="card" ng-if="userIsStaff">
      <div class="detailsManager">
        <label class="item item-input">
          <input type="text" placeholder="Reason" ng-model="action.reason"/>
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Type" ng-model="action.type"/>
        </label>
      </div>
      <div class="buttonManager">
        <button class="button button-medium" ng-click="manageIssues()">Manage issue</button>
      </div>

      <div class="detailsManager">
        <label class="item item-input">
          <input type="text" placeholder="Name" ng-model="issueType.name"/>
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Description" ng-model="issueType.description"/>
        </label>
      </div>
      <div class="buttonManager">
        <button class="button button-medium ight" ng-click="addIssueType()">Add a type</button>
      </div>

      <div class="deleteType">
        <p >Quel type voulez-vous supprimer ?</p>
        <label class="item item-input">
          <select name="issueTypeName" ng-model="data.selectedType" ng-change='test()'>
            <option ng-repeat="issueType in issueTypes" value="{{issueType.id}}">{{issueType.name}}</option>
          </select>
        </label>
      </div>
      <div class="buttonDetails">
        <button class="button button-medium" ng-click="deleteIssueType()">Delete </button>
      </div>

      <p ng-if="issueCtrl.error" class="error">{{ issueCtrl.error }}</p>
      <ion-infinite-scroll ng-if="!noMoreCommentsAvailable && seeCommentsClick" on-infinite="seeComments()" distance="10%"></ion-infinite-scroll>
    </div>
  </ion-content>
</ion-view>
