<ion-view view-title="Issue List">
  <ion-content>
    <div ng-controller="allIssuesCtrl">
      <label class="item item-input searchbar">
                <span class="input-label">Search</span>
                <input ng-model="searchText">
      </label>
        <div ng-repeat="issue in issues | filter:searchText" class="list" ng-class-even="'green'">
            <div class="issueImage">
              <img ng-src="{{issue.imageUrl}}">
            </div>
            <div class="issueDescription" >
              <h5>{{issue.issueType.name}}</h5>
              <p>{{issue.description}}</p>
              <p class="state"> {{issue.state}}</p>
            </div>
            <div class="details">
              <i class="iconIssues ion-arrow-right-b" ui-sref="app.issueDetails({issueId:issue.id})"></i>
            </div>
          </div>
        <p ng-if="issueCtrl.error" class="error">{{ issueCtrl.error }}</p>
        <ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="loadMore()" ></ion-infinite-scroll>
      </div>
  </ion-content>
</ion-view>
