<ion-view view-title="My Profile">
  <ion-content>
			<div class="profile-sidebar">
				<!-- SIDEBAR USERPIC -->
				<div class="profile profil-text-wrap">
          <div class="picture">
            <img src="img/user.jpg">
          </div>
          <div class="name">
            <p>Marcus Doe</p>
            <p>Developer</p>
          </div>
          <div class="settings">
            <a href="#">
              <i class="icon ion-edit"></i>
            </a>
          </div>
				</div>
				<!-- SIDEBAR MENU -->
				<div class="profile-usermenu">
					<ul class="nav">
						<li>
							<a href="#" target="_blank">
							<i class="glyphicon glyphicon-ok"></i>
							My issues</a>
						</li>
					</ul>
				</div>
    </div>
  </ion-content>
</ion-view>
