<ion-view view-title="Policy">
  <ion-content>
    <header>
      <h1>Privacy Policy</h1>
    </header>
    <nav>
     <h1 id="cont">content</h1>
     <ul>
       <li><a href="#personal-info">Personal info</a>
        <ul><li><a href="#misc_children">Children</a></li></ul>
        </li>
       <li><a href="#collection">Collection</a>
        <ul><li><a href="#collection_tracking">Tracking technologies</a></li></ul>
        </li>
       <li><a href="#use">Use</a>
        </li>
       <li><a href="#disclosure">Disclosure</a>
        <ul>
         <li><a href="#disclosure_partners">Partners</a></li>
         <li><a href="#disclosure_legal">Legal process</a></li>
         </ul></li>
       <li><a href="#storage">Storage</a>
        <ul>
         <li><a href="#storage_location">Where your info lives</a></li>
         <li><a href="#storage_duration">How long we keep your info</a></li>
         </ul></li>
        <li><a href="#misc">About</a>
        <ul><li><a href="#choice">Your choices</a></li>
        <li><a href="#change">Changes to this policy</a></li>
        <li><a href="#contact">Contact us</a></li>
        </ul></li>
     </ul>
    </nav>
   <article>
    <nav class="to-top"><a href="#cont">back to top</a></nav>
    <section>
     <h1 id="personal-info">Personal info</h1>
     </section>
     <nav class="to-top"><a href="#cont">back to top</a></nav>
    <section>
     <h1>How we collect info</h1>
      <h2>Tracking technologies</h2>
     </section>
    <nav class="to-top"><a href="#cont">back to top</a></nav>
    <section>
     <h1>How we use your info</h1>
     </section>
    <nav class="to-top"><a href="#cont">back to top</a></nav>
    <section>
     <h1>When we share your info</h1>
      <h2>Our Partners</h2>
      <h2>Legal process</h2>
     </section>
    <nav class="to-top"><a href="#cont">back to top</a></nav>
    <section>
     <h1>How we store your info</h1>
      <h2>Where your info lives</h2>
      <h2>How long we keep your info</h2>
     </section>
    <nav><a href="#cont">back to top</a></nav>
    <section>
     <h1>About</h1>
      <p>Your choices</p>
      <p>Changes</p>
      <p>Contact us</p>
     </section>
   </article>
  </ion-content>
</ion-view>
