<ion-view view-title="Policy">
  <ion-content>
      <header>
        <h2>Privacy Policy</h2>
      </header>
     <article>
      <section>
       <h2 id="personal-info">Personal info</h2>
       </section>
      <section>
       <h2>How we collect info</h2>
        <h3>Tracking technologies</h3>
       </section>
      <section>
       <h2>How we use your info</h2>
       </section>
      <section>
       <h2>When we share your info</h2>
        <h3>Our Partners</h3>
        <h3>Legal process</h3>
       </section>
      <section>
       <h2>How we store your info</h2>
        <h3>Where your info lives</h3>
        <h3>How long we keep your info</h3>
       </section>
      <section>
       <h2>About</h2>
        <p>Your choices</p>
        <p>Changes</p>
        <p>Contact us</p>
       </section>
     </article>
  </ion-content>
</ion-view>
