/* Empty. Add your own CSS if you like */


.titre div {
	position: relative;
}

.titre img {
	width: 180px;
}

.titre {
	text-align: center;
}

.list {
	margin-bottom: 10px;
}

#boutonNewIssue {
	text-align: center;
	padding-top: 15px;
}

#uploadIssue {
	text-align: center;
}

.loginButton {
	text-align: center;
}
.buttonLog{
	margin-top: 30px;
}

.button {
	background-color: #274042;
	color: white;
}
.button:hover {
	background-color: #088b96;
	color: white;
}

.logoHome {
	width: 60px;

}

.titreHome {
	width: 150px;
	padding-bottom: 10px;
	padding-left: 20px;
}

.registration {
	background-color: #088b96;
}
/**********************************************************
side menu
**********************************************************/

.sideMenu img{
	position: relative;
	width: 100px;
	height: 100px;
	border-radius: 100%;
	left: 75px;
	margin-bottom: 10px;
}
.userCenter{
	text-align: center;
	width: 100%;
}
#menuText{
	color: #274042;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	left: 0px;
	width: 100%;

}

.icon {
	position: absolute;
	bottom: 5px;
	color: #EF4C25;
}
.sideMenu p {
	position: absolute;
	left: 40px;
	bottom: 5px;
	color: #274042;
}


/**********************************************************
MyProgile page
**********************************************************/
.profile{
	height: 200px;
	position: relative;
}
.picture img {
	width: 100%;
	height: 100%;
	position: absolute;
}
.name{
	position: absolute;
	color: white;
	top: 150px;
	left: 9px;
	line-height: 14px;
	font-size: 25px;
}
.settings{
	position: relative;
	text-align: right;
	top: 190px;
	right: 35px;
	font-size: 20px;
}
.settings i{
	color: white;
}
/**********************************************************
Issues List
**********************************************************/
.list{
	padding-top: 7px;
	margin-bottom: 0px;
}
.green {
	background-color: rgba(19, 52, 55, 0.2);;
}
.issueImage {
	display: inline-block;
	width: 150px;
	height: 150px;
}
.issueImage img{
	width: 100%;
	height: 100%;
}
.issueDescription {
	display: inline-block;
	position: absolute;
	padding-left: 8px;
	margin-right:  55px;
}
.issueDescription h5{
	font-size: 16px;
	font-weight: bold;
}
.list p{
	line-height: 20px;
	text-align: justify;
}
.state {
	color: red;
	font-weight: bold;
}
.details {
	display: inline-block;
	position: relative;
	float: right;
	padding-top: 55px;
	margin-right: 15px;
}
.iconIssues {
	font-size: 36px;
	color:  #274042;
}

.searchbar input {
	margin-right: 40%;
}

/**********************************************************
Issues details
**********************************************************/
.contouring {
	background-color: #274042;
}

.itemDetails {
	background-color: #274042;
}
.itemDetails h2{
	color: #EF4C25;
}
.orange a{
	color: #EF4C25;
}
.itemDetails p{
	color: white;
}
.imageDetails {
	width: 50%;
	margin-left: 25%;
}
.labelDetails{
	display: inline-block;
	border:  solid ;
	border-radius: 3px;
	width: 70%;
}
.buttonDetails{
	display: inline-block;
	float: right;
	margin-right: 5%;
}

.detailsManager {
	border:  grey solid ;
	margin-top: 2%;
	margin-left: 2%;
	margin-right: 2%;
}
.buttonManager{
	margin-top: 1%;
	margin-bottom: 5%;
	margin-right: 5%;
	text-align: right;
}

.deleteType{
	display: inline-block;
	margin-bottom: 6%;
}
.deleteType label{
	border: 0px;
}
.deleteType p{
	font-size: 14px;
	margin-left: 16px;
	margin-bottom: 0px;
	color: #b3b3b3;
}
.oneComment{
	border-bottom: 1px grey solid;
}
.authorDetails{
	min-width: 20%;
	font-weight: bold;
	color: #EF4C25;
}
.commentDetails{
	margin-left: 50px;
}
